<section class="container forms">
  <div class="form login">
      <div class="form-content">
          <header>Login</header>
          <form [formGroup]="loginForm">
              <div class="field input-field">
                  <input formControlName="email" type="email" placeholder="Email" class="input">
                  <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                    Please enter a valid email.
                 </mat-error>
              </div>

              <div class="field input-field">
                  <input formControlName="password" type="password" placeholder="Password" class="password" [type]="passwordFieldType">
                  <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
                  <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    Please enter a valid password.
                 </mat-error>
              </div>

              <br />
              <div class="form-link">
                  <a href="#" class="forgot-pass">Forgot password?</a>
              </div>

              <div class="field button-field">
                  <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Login</button>
              </div>
          </form>

          <div class="form-link">
              <span>Don't have an account? <a routerLink="/register" class="link signup-link">Signup</a></span>
          </div>
      </div>

  </div>
  </section>
