<!-- start dropdown -->
<div class="search-dropdown">
  <div class="dropdown">
    <button class="dropbtn">Brand</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Color</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Type</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
<!-- end dropdown -->





<section class="services" id="services" style="margin-top: 10px;">
  <!-- <div class="heading">
      <h1>Car4u</h1>
  </div> -->
  <div class="services-container">
      <div class="box">
          <div class="box-img">
              <img src="../assets/img/car1.jpg" alt="">
          </div>
          <p>2017</p>
          <h3>2018 Honda Civic</h3>
          <h2>$40<span>/day</span></h2>
          <div class="button-container">
            <button class="update-btn">Update</button>
            <button class="delete-btn">Delete</button>
          </div>
      </div>

      <div class="box">
          <div class="box-img">
              <img src="../assets/img/car2.jpg" alt="">
          </div>
          <p>2017</p>
          <h3>2018 Honda Civic</h3>
          <h2>$40<span>/day</span></h2>
          <div class="button-container">
            <button class="update-btn">Update</button>
            <button class="delete-btn">Delete</button>
          </div>
      </div>

      <div class="box">
          <div class="box-img">
              <img src="../assets/img/car3.jpg" alt="">
          </div>
          <p>2017</p>
          <h3>2018 Honda Civic</h3>
          <h2>$40<span>/day</span></h2>
          <div class="button-container">
            <button class="update-btn">Update</button>
            <button class="delete-btn">Delete</button>
          </div>
      </div>

      <div class="box">
          <div class="box-img">
              <img src="../assets/img/car4.jpg" alt="">
          </div>
          <p>2017</p>
          <h3>2018 Honda Civic</h3>
          <h2>$40<span>/day</span></h2>
          <div class="button-container">
            <button class="update-btn">Update</button>
            <button class="delete-btn">Delete</button>
          </div>
      </div>

  </div>
</section>
