<!-- start Header -->
<header *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <a href="#" class="logo"><img src="../assets/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <ul class="navbar">
      <li><a href="#home">Home</a></li>
      <li><a href="#ride">Ride</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#reviews">Reviews</a></li>
  </ul>
  <div class="header-btn">
      <a routerLink="/register" class="sign-up">Sign Up</a>
      <a routerLink="/login" class="sign-in">Sign In</a>
  </div>
</header>
<!-- end Header -->

<!-- start admin Header -->
<header *ngIf="isAdminLoggedIn">
  <a href="#" class="logo"><img src="../assets/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <ul class="navbar">
    <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/admin/car" routerLinkActive="active">Post Car</a></li>
    <li><a routerLink="/admin/bookings" routerLinkActive="active">Bookings</a></li>
    <li><a routerLink="/admin/search" routerLinkActive="active">Search</a></li>
  </ul>
  <div class="header-btn">
    <a (click)="logout()" class="log-out">Logout</a>
  </div>
</header>
<!-- end admin Header -->


<!-- start customer Header -->
<header *ngIf="isCustomerLoggedIn">
  <a href="#" class="logo"><img src="../assets/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <ul class="navbar">
    <li><a routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/customer/search" routerLinkActive="active">Search</a></li>
  </ul>
  <div class="header-btn">
    <a (click)="logout()" class="log-out">Logout</a>
  </div>
</header>
<!-- end customer Header -->





<router-outlet></router-outlet>

<!-- spinner -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fe5b3d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
