<section class="container forms">
  <div class="form login">
      <div class="form-content">
          <header>Reset Password</header>

          <form [formGroup]="emailForm" *ngIf="enableFrom">
              <div class="field input-field">
                  <input formControlName="email" type="email" placeholder="Enter Your Email" class="input">
                  <mat-error *ngIf="emailForm.get('email').invalid && emailForm.get('email').touched">
                    Please enter a valid Email.
                  </mat-error>
                </div>
              <div class="field button-field">
                  <button [disabled]="emailForm.invalid" (click)="onSubmitEmail()">Submit</button>
              </div>
          </form>

          <form [formGroup]="resetForm" *ngIf="!enableFrom">
            <div class="field input-field">
              <input formControlName="code" type="text" placeholder="Enter The Code" class="input">
              <mat-error *ngIf="resetForm.get('code').invalid && resetForm.get('code').touched">
                Please enter a valid Code.
              </mat-error>
            </div>

            <div class="field input-field">
              <input formControlName="password" type="password" placeholder="Enter New password" class="password" [type]="passwordFieldType">
              <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
              <mat-error *ngIf="resetForm.get('password').invalid && resetForm.get('password').touched">
                Please enter a valid password.
             </mat-error>
            </div>

            <div class="field input-field">
              <input formControlName="confirmPassword" type="password" placeholder="Confirm password" class="password" [type]="passwordFieldType">
              <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
              <mat-error *ngIf="resetForm.get('confirmPassword').invalid && resetForm.get('confirmPassword').touched">
                Please enter a valid confirm Password.
             </mat-error>
            </div>

            <div class="field button-field">
              <button (click)="onSubmitReset()">Submit</button>
            </div>
          </form>

      </div>

  </div>
  </section>
