<section class="container forms">
  <div class="form login">
      <div class="form-content">
          <header>Reset Password</header>

          <form [formGroup]="emailForm" *ngIf="enableFrom">
              <div class="field input-field">
                  <input type="email" placeholder="Enter Your Email" class="input">
              </div>
              <div class="field button-field">
                  <button>Submit</button>
              </div>
          </form>

          <form [formGroup]="resetForm" *ngIf="!enableFrom">
            <div class="field input-field">
              <input type="text" placeholder="Enter The Code" class="input">
            </div>

            <div class="field input-field">
              <input type="password" placeholder="Enter New password" class="password" [type]="passwordFieldType">
              <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
            </div>

            <div class="field input-field">
              <input type="password" placeholder="Confirm password" class="password" [type]="passwordFieldType">
              <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
            </div>

            <div class="field button-field">
              <button>Submit</button>
            </div>
          </form>

      </div>

  </div>
  </section>
