
<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Signup</header>
      <form [formGroup]="emailForm" *ngIf="enableFrom">
        <div class="field input-field">
          <input id="email" [formControlName]="'email'" type="email" placeholder="Your Email" class="input validation-messages">
          <!-- start validation -->
          <div class="validation-messages" *ngIf="emailForm.controls['email'].invalid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched)">
            <div *ngIf="emailForm.controls['email'].errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="emailForm.controls['email'].errors?.['email']">
              Please enter a valid email address.
            </div>
          </div>
          <!-- end validation -->
        </div>

        <!-- Add space here -->
        <div class="spacer"></div>

        <div class="field button-field">
          <button [disabled]="!emailForm.valid" (click)="onSubmitEmail()">Submit</button>
        </div>
      </form>

      <!-- ... -->
      <form [formGroup]="resetForm" *ngIf="!enableFrom">
        <div class="field input-field">
          <input id="code" [formControlName]="'code'" type="text" placeholder="Enter The Code" class="input">
          <!-- start validation -->
          <div class="validation-messages" *ngIf="resetForm.controls['code'].invalid && (resetForm.controls['code'].dirty || resetForm.controls['code'].touched)">
            <div *ngIf="resetForm.controls['code'].errors?.['required']">
              Code is required.
            </div>
            <div *ngIf="resetForm.controls['code'].errors?.['minlength'] || resetForm.controls['code'].errors?.['maxlength']">
              Code must be exactly 5 digits.
            </div>
          </div>
          <!-- end validation -->
        </div>

        <!-- Add space here -->
        <div class="spacer"></div>


        <div class="field input-field">
          <input id="password" [formControlName]="'password'" type="password" placeholder="Your Password" class="input">
          <!-- start validation -->
          <div class="validation-messages" *ngIf="resetForm.get('password').invalid && (resetForm.get('password').dirty || resetForm.get('password').touched)">
            <div *ngIf="resetForm.get('password').errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="resetForm.get('password').errors?.['minlength']">
              Password must be at least 6 digit long.
            </div>
          </div>
          <!-- end validation -->
        </div>

        <!-- Add space here -->
        <div class="spacer"></div>

        <div class="field input-field">
          <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirm password" class="password" [type]="passwordFieldType">
          <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
          <!-- start validation -->
          <div class="validation-messages" *ngIf="resetForm.get('confirmPassword').invalid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
            <div *ngIf="resetForm.get('confirmPassword').errors?.['required']">
              Confirm Password is required.
            </div>
            <div *ngIf="resetForm.get('confirmPassword').errors?.['confirm']">
              Passwords do not match.
            </div>
          </div>
          <!-- end validation -->
        </div>

        <!-- Add space here -->
        <div class="spacer"></div>

        <div class="field button-field">
          <button [disabled]="!resetForm.valid" (click)="onSubmitReset()">Submit</button>
        </div>
      </form>
      <!-- ... -->

    </div>
  </div>
</section>
