<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Signup</header>
      <form action="#">
        <div class="field input-field">
          <input type="text" placeholder="Your Name" class="input">
        </div>

        <div class="field input-field">
          <input type="email" placeholder="Email" class="input">
        </div>

        <div class="field input-field">
          <input type="password" placeholder="Create password" class="password" [type]="passwordFieldType">
          <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
        </div>

        <div class="field input-field">
          <input type="password" placeholder="Confirm password" class="password" [type]="passwordFieldType">
          <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
        </div>

        <div class="field button-field">
          <button>Signup</button>
        </div>
      </form>

      <div class="form-link">
        <span>Already have an account? <a routerLink="/login" class="link login-link">Login</a></span>
      </div>
    </div>
  </div>
</section>
