<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Signup</header>
      <form [formGroup]="signupForm">
        <div class="field input-field">
          <input formControlName="name" type="text" placeholder="Your Name" class="input">
          <mat-error *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched">
            Please enter a valid name.
         </mat-error>
        </div>

        <div class="field input-field">
          <input formControlName="email" type="email" placeholder="Email" class="input">
          <mat-error *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
            Please enter a valid email.
         </mat-error>
        </div>

        <div class="field input-field">
          <input formControlName="password" type="password" placeholder="Create password" class="password" [type]="passwordFieldType">
          <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
          <mat-error *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
            Please enter a valid password.
         </mat-error>
        </div>

        <div class="field input-field">
          <input formControlName="confirmPassword" type="password" placeholder="Confirm password" class="password" [type]="passwordFieldType">
          <i class='bx bx-hide eye-icon' (click)="togglePasswordVisibility()"></i>
        </div>

        <div class="field button-field">
          <button type="submit" [disabled]="signupForm.invalid" (click)="onSubmit()">Signup</button>
        </div>
      </form>

      <div class="form-link">
        <span>Already have an account? <a routerLink="/login" class="link login-link">Login</a></span>
      </div>
    </div>
  </div>
</section>
