<section class="container forms">
  <div class="form login">
      <div class="form-content">
          <header>Code Activation</header>
          <span>{{email}}</span>
          <form [formGroup]="codeForm">
              <div class="field input-field">
                  <input formControlName="code" type="text" placeholder="Enter The Code" class="input">
              </div>
              <div class="field button-field">
                  <button type="submit" (click)="onSubmit()">Submit</button>
              </div>
          </form>
      </div>

  </div>
  </section>
