<section class="container forms">
  <div class="form login">
      <div class="form-content">
          <header>Code Activation</header>
          <span>nalkaton@gmail.com</span>
          <form action="#">
              <div class="field input-field">
                  <input type="text" placeholder="Enter The Code" class="input">
              </div>
              <div class="field button-field">
                  <button>Submit</button>
              </div>
          </form>
      </div>

  </div>
  </section>
